<h1>Editing Movie</h1>

<%= render 'form', movie: @movie %>

<br><br>
<h4><span class="glyphicon glyphicon-chevron-left"></span><a href="/movies/<%= @movie.id %>" title="Back to Movie">Back to Movie</a></h4>