<h1>Editing User</h1>

<%= render 'form', user: @user %>

<!-- removed show link, changed the lower link to go back to user -->
<h4><span class="glyphicon glyphicon-chevron-left"></span><a href="/users/<%= @user.id %>" title="Link back to User">Back to User</a></h4>
