<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>Hi <%= @user.username %> ! </h1>
    <h3>Welcome to Yet Another Movie Reviews Site! You can rate and comment on movies!</h3>
    <p>You can login and share <a href="http://yamrs.herokuapp.com">here</a>!</p>
    <p>We at the YAMRs team hope you enjoy this site!</p>
  </body>
</html>