<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>Hi <%= @user.username %> ! </h1>
    <h3>Thanks for signing up for Yet Another Movie Reviews Site! You can rate and comment on movies!</h3>
    <h4>Your username is set to your gmail address, your password is <strong><%= @password %></strong>.</h4>
    <p>You can change these at any time by going to your profile and clicking edit!</p>
    <p>You can login and share <a href="http://yamrs.herokuapp.com">here</a>!</p>
    <p>We at the YAMRs team hope you enjoy this site!</p>
  </body>
</html>