<h1>Editing Review</h1>

<%= render 'form', review: @review %>

<h4><span class="glyphicon glyphicon-chevron-left"></span><a href="/movies/<%= @review.movie.id %>" title="Back to Movie">Back to Movie</a></h4>